body {
  background-image: url("./images/htback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.htlogo {
  padding-top: 10px;
  padding-left: 80px;
  height: 15%;
  width: 15%;
  text-align: left;
}

.caflogo {
  padding-top: 10px;
  margin-right: 100px;
  height: 5%;
  width: 5%;
  text-align: right;
}
.header-flex {
  padding: 20px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url("./images/greenback.jpg");
  background-size: cover;
  border: 3px groove rgb(7, 104, 36);
}

.usericon {
  height: 40px;
  width: 40px;
}

.county-background {
  padding: 20px 200px 40px 200px;
}
.county-header {
  text-align: center;
  padding: 10px 70px 0px 70px;
  width: 50%;
  margin: 0 auto;
}

.county-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
  width: 50%;
  margin: 0 auto;
}

.search-component > * {
  display: flex;
}

.search-block {
  width: 100%;
  height: 56px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s all;
}
.search-block:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.caf-search-component {
  text-align: center;
}

.caf-search-component > div {
  margin-top: 10px;
}

.login-component {
  text-align: center;
  padding-top: 10%;
}
.login-component form {
  margin: 0 auto;
  max-width: 320px;
  text-align: center;
}

.button-style {
  display: inline-block;
  border-radius: 3px;
  padding: 0.5rem 0;
  margin: 0.5rem 1rem;
  width: 11rem;
  background: transparent;
  color: rgb(248, 220, 128);
  border: 2px solid rgb(238, 213, 102);
}

#normal {
  width: 14%;
}

.option-selection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10% 25% 10% 25%;
}

.details {
  text-align: left;
}

.books {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.book {
  background: #fff;
  position: relative;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  color: #333;
  flex-basis: width;
  background-color: rgb(255, 214, 153);
  border: 2px solid rgb(153, 148, 148);
}

.book h2 {
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.multicenter {
  justify-content: center;
  margin-top: 6%;
  display: flex;
  flex-wrap: wrap;
}

.table-responsive {
  min-height: 0.01%;
  overflow-x: auto;
}

@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > td,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > thead > tr > th {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > thead > tr > th:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > thead > tr > th:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th {
    border-bottom: 0;
  }
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #dfdfdf;
}

@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .form-inline .form-control-static {
    display: inline-block;
  }
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .form-inline .input-group .form-control,
  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn {
    width: auto;
  }
  .form-inline .input-group > .form-control {
    width: 100%;
  }
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .checkbox,
  .form-inline .radio {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .checkbox label,
  .form-inline .radio label {
    padding-left: 0;
  }
  .form-inline .checkbox input[type="checkbox"],
  .form-inline .radio input[type="radio"] {
    position: relative;
    margin-left: 0;
  }
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}
.form-control {
  display: block;
  width: 100%;
  height: 25px;
  padding: 6px 14px;
  font-size: 14px;
  line-height: 1.42857143;
  color: rgb(0, 0, 0);
  background-color: rgb(218, 216, 216);
  background-image: none;
  border: 1px solid rgb(184, 141, 62);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.row:after,
.row:before {
  display: table;
  content: " ";
}

.col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 100%;
}
